.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #c9e1ff;
    gap: 1rem;
}

.home-text{
    flex: 1 1 17rem;
}

.home-img{
    flex: 1 1 17rem;
}

.home-img img{
    animation: animate 3s linear infinite;
}

/* Animação da Imagem */
@keyframes animate{
    0%{
        transform: translate(-11px, 0);
    }

    50%{
        transform: translate(-0px, -11px);
    }

    100%{
        transform: translate(-11px, 0);
    }
}

.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}

.home-text h1{
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: bolder;
}

.home-text h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: capitalize;
    margin: 0.5rem 0 1.4rem;
}

.btn{
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
}

.btn:hover{
    color: #fff;
    background: var(--second-color);
}